{% extends 'layout.html' %}
{% load static %}
{% block style %}
<style>
.form.form-group.div label {
    width: 100%;
    text-aligh: right;
}
</style>
{% endblock %}
{% block content %}
<div id="summaryContainer" class="row">
    <h2>Summary</h2>
</div>
<div id="executionElementsContainer">
    <h2>Execution elements</h2>
</div>
{% endblock %}
{% block scripts %}
<script>
    var myApp;
    $(document).ready(function(){
        myApp = (function(){
            var urlBase = window.location.origin;
            function ShowStatus(data){
                var summaryContainer = $('#summaryContainer');
                var executionElementsContainer = $('#executionElementsContainer');

                summaryContainer.empty();
                ShowSummary();

                executionElementsContainer.empty();
                data.ExecutionElements.forEach(ShowExecutionElement)
                
                function ShowSummary(){
                    var dayNight = $("<div>")
                        .addClass("col-xs-1");
                    var currentTime = $("<div>")
                        .addClass("col-xs-5")
                        .addClass("digital");
                    var remainingTime = $("<div>")
                        .addClass("col-xs-6");
                    
                    var dayNightImg = data.IsDay
                        ? "{% static 'images/day.png' %}"
                        : "{% static 'images/night.png' %}";
                    var dayNightSymbol = $("<img>")
                        .attr("src", dayNightImg)
                        .attr("Alt", data.IsDay ? "Day" : "Night")
                        .addClass("icon");
                    dayNight.append(dayNightSymbol);

                    currentTime.append(data.Now.substring(0, 5));

                    summaryContainer.append(dayNight);
                    summaryContainer.append(currentTime);
                    summaryContainer.append(remainingTime);                    
                }

                function ShowExecutionElement(value, index) {
                    var row = $("<div>")
                        .addClass("row")
                        .addClass("executionelementcontainer");
                    executionElementsContainer.append(row);

                    var nameColumn = $("<div>")
                        .addClass("col-xs-3");
                    row.append(nameColumn);

                    var statusColumn = $("<div>")
                        .addClass("col-xs-1");
                    row.append(statusColumn);

                    var actionsColumn = $("<div>")
                        .addClass("col-xs-7");
                    row.append(actionsColumn);                    

                    nameColumn.text(value.Name);

                    var imgPath = value.EffectiveValue
                        ? "{% static 'images/bulb-on.png'%}"
                        : "{% static 'images/bulb-off.png'%}";
                    var statusImage = $("<img>")
                        .addClass("icon")
                        .attr("src", imgPath)
                        .attr("alt", "ON");
                   statusColumn.append(statusImage);

                   var buttonsGroup=$("<div>")
                        .addClass("btn-group");
                   actionsColumn.append(buttonsGroup);

                   var startButton=$("<button>")
                       .addClass("btn")
                       .addClass("btn-success")
                       .click({'id': value.Id}, myApp.Start)
                       .append("<span class='glyphicon glyphicon-play' hidearea='true'/>");
                    buttonsGroup.append(startButton);

                    var stopButton=$("<button>")
                        .addClass("btn")
                        .addClass("btn-danger")
                        .click({'id': value.Id}, myApp.Stop)
                        .append("<span class='glyphicon glyphicon-stop' hidearea='true'/>");
                    buttonsGroup.append(stopButton);

                    var automaticButton=$("<button>")
                       .addClass("btn")
                       .addClass("btn-warning")
                       .click({'id': value.Id}, myApp.Automatic)
                       .append("<span class='glyphicon glyphicon-play-circle' hidearea='true'/>");
                    buttonsGroup.append(automaticButton);
                }
            }

            return {
                GetData: function(){
                    var url = urlBase + "/automation/status/";
                    $.get(url, ShowStatus);
                },

                Start: function(caller){
                    var url = urlBase + "/automation/set/" + caller.data.id +"/1";
                    $.get(url, ShowStatus);
                },

                Stop: function(caller) {
                    var url = urlBase + "/automation/set/" + caller.data.id +"/0";
                    $.get(url, ShowStatus);
                },

                Automatic: function(caller) {
                    var url = urlBase + "/automation/setauto/" + caller.data.id;
                    $.get(url, ShowStatus);
                }
            };
        }());

        myApp.GetData();
        setInterval(myApp.GetData, 5000);
    });
</script>
{% endblock %}
